:root{
  --svg-width:80%;
  --zoom-rect-x-pos:50px;
  --zoom-text-x-pos:57px;
  --details-div-width:80%;
  --details-display: inline-block;
  --heading-font-size: 24px;
}
@media only screen and (min-width:320px) and (max-width:720px){
  :root{
    --svg-width:100%;
    --zoom-rect-x-pos:20px;
    --zoom-text-x-pos:27px;
    --details-div-width:100%;
    --details-display: none;
    inline-block;
    --heading-font-size: 18px;
  }
}
body{
  margin:5px;
}
.addDarkGradient{
    background: linear-gradient(35deg, #16a085, #f4d03f);
}
.addLightGradient{
   background: linear-gradient(35deg, #ccffff, #ffcccc);
  background-image: linear-gradient(35deg,#8a2387,#e94057,#f27121);
}
h1,h3{
  text-align:center;
}
#country-name{
  margin: 0px;
  font-size: var(--heading-font-size,20px);
}
#tooltip{
  position: absolute;
  background-color: #0cf3cd;
  color: #ffffff;
  font-size: 15px;
  max-width: 200px;
  border-radius: 2%;
  padding: 5px;
  border: 1px solid #0cf3cd;
	border-radius: 2px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#points-holder{
  margin: 0px;
}
.pathWithBorder {
  paint-order: stroke fill;
  stroke-width: 1.8;
  stroke: black;
}
.centroid{
  border-color:green !important;
  border: 2px solid green !important;
  background-color: black !important;
}

.wrong-choice-effects{
  fill: #e4221b !important;
  paint-order: normal !important;
  stroke-width: 1.8 !important;
  stroke: black !important;
}
.choice-hover-effects{
  fill: #e0e41b !important;
   paint-order: normal !important;
  stroke-width: 1.5 !important;
  stroke: black !important;
}
.correct-choice-effects{
  fill: #10ef11 !important;
  paint-order: normal !important;
  stroke-width: 1.5 !important;
  stroke: black !important;
}

#zoom-in-text{
  transform: translate(var(--zoom-text-x-pos,42px), 268px);
  font-size: 20px;
  font-weight: bold;
  cursor: zoom-in;
}
#zoom-out-text{
   transform: translate(var(--zoom-text-x-pos,42px), 293px);
  font-size: 30px;
  font-weight: bold;
  cursor: zoom-out;
}
.game-area-svg{
  height:90vh;
  width: var(--svg-width,100%);
}
.zoom-out-position{
  x:var(--zoom-rect-x-pos,35px);
  y:275;
}
.zoom-in-position{
  x:var(--zoom-rect-x-pos,35px);
  y:250;
}
#details-div{
  width:var(--svg-width,80%);
  height:8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sm-hidden{
  display:var(--details-display,none);
}
svg{
   background-color: #A4D1DC !important;
  border: 2px solid black;
  border-top-left-radius: 18px 18px;
  border-top-right-radius: 18px 18px;
}
#svg-holder{
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
#completion-indicator-holder{
  border: 2px solid black !important;
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px; 
  width: var(--svg-width,80%);
  height:2vh;
}
#completion-indicator{
    width: 10%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      yellow 0px,
      yellow 40px,
      black 40px,
      black 80px
    );
  border-bottom-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px; 
}
.stop-pointer-events{
  pointer-events: none;
}
